{% extends "layout/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid mx-auto min-h-screen">
    {% include "layout/include/navigation.html" %}
    <div class="flex items-start justify-center">
        <div
            class="w-[1000px] bg-white text-gray-900 shadow-lg rounded-lg px-12 py-8 mt-6 dark:bg-gray-800 dark:text-white">
            <div class="text-center items-start justify-center">
                <h2 class="text-2xl font-semibold">Author</h2>
                <p class="mt-4">My username on the internet is healplease :)</p>
            </div>
            <div class="mt-8">
                <p class="text-sm text-right italic">Grape icon is made by 
                    <a
                        href="https://www.flaticon.com/free-icons/grapes"
                        class="text-purple-700 hover:underline dark:text-purple-400 dark:hover:text-purple-300"
                    >Smashicons - Flaticon</a>
                </p>
        </div>
    </div>
</div>
{% endblock %}