{% extends "layout/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid mx-auto min-h-screen">
    {% include "layout/include/navigation.html" %}
    <div class="flex items-start justify-center">
        <div
            class="w-[1000px] bg-white text-gray-900 shadow-lg rounded-lg px-12 py-8 mt-6 dark:bg-gray-800 dark:text-white">
            <div class="text-center items-start justify-center">
                <h2 class="text-2xl font-semibold">Author: healplease</h2>
                <p class="mt-4">About page will be done soon.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}