<div class="sticky top-0 w-full h-[60px] bg-slate-800 flex flex-row justify-between dark:bg-slate-800 sticky border-b-2 border-gray-700 dark:border-gray-700" hx-boost="true">
    <div class="w-1/4 flex flex-row justify-start items-center ms-10">
        <a
            href="{{ url_for('site.index') }}"
            class="text-white font-bold text-2xl px-4"
        ><i class="fa-solid fa-code me-1"></i> QRT</a>
    </div>
    <div class="w-1/2 flex flex-row gap-5 justify-center items-center text-white text-lg font-mono">
        <div class="rounded {% if tab == 'Home'%} border-b-2 border-slate-200 {% endif %} hover:border-b-2 hover:border-slate-500">
            <a
                href="{{ url_for('site.index') }}"
                class="block mx-4"
            >Home</a>
        </div>
        <div class="rounded {% if tab == 'Scraper'%} border-b-2 border-slate-200 {% endif %} hover:border-b-2 hover:border-slate-500">
            <a
                href="{{ url_for('scraper.scraper') }}"
                class="block mx-4"
            >Scrape</a>
        </div>
        <div class="rounded {% if tab == 'About'%} border-b-2 border-slate-200 {% endif %} hover:border-b-2 hover:border-slate-500">
            <a
                href="{{ url_for('site.about') }}"
                class="block mx-4"
            >About</a>
        </div>
    </div>
    <div class="w-1/4 flex flex-row justify-end items-center me-10">
        <button
            id="theme"
            data-tooltip-target="theme-tooltip"
            class=" w-[40px] h-[40px] rounded-full p-3 bg-transparent hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 me-4"
            onclick="toggleTheme()"
        >
            <i class="fas fa-sun text-yellow-500"></i>
        </button>
        <div
            id="theme-tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
        >
            <p>Toggle Theme</p>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
                document.getElementById('theme').innerHTML = '<i class="fas fa-moon text-white"></i>';
            } else {
                document.documentElement.classList.remove('dark');
                document.getElementById('theme').innerHTML = '<i class="fas fa-sun text-yellow-500"></i>';
            };
        });
        
        function toggleTheme() {
            if (localStorage.theme !== 'dark') {
                document.documentElement.classList.add('dark');
                localStorage.theme = 'dark';
                document.getElementById('theme').innerHTML = '<i class="fas fa-moon text-white"></i>';
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.theme = 'light';
                document.getElementById('theme').innerHTML = '<i class="fas fa-sun text-yellow-500"></i>';
            }
        };
    </script>
</div>